FORMSPREE_FORM_ID=# Your Formspree form ID
OPEN_TO_WORK=# OpenToWork feature flag: True or false
SITE_URL=# Your deployed website URL
RESUME_URL=# Your resume URL (e.g., hosted on Google Drive, Dropbox, Cloudflare R2, etc.)
EMAIL=# Your email address
GITHUB_URL= # Your GitHub profile URL
LINKEDIN_URL= # Your LinkedIn profile URL