---
import { type AcceptedLanguage, getI18n } from "@/i18n";
import type { AboutMeDTO } from "@/i18n/data/about-me";
import PortfolioSection from "./portfolio-section.astro";
import SectionSeparator from "./section-separator.astro";

interface Props {
  language: AcceptedLanguage;
}

const { language } = Astro.props;

const tAboutMe = getI18n("aboutMeData", language) as AboutMeDTO;
---

<PortfolioSection id="about-me">
  <h2 class="flex items-center gap-3 text-3xl leading-14 font-semibold">
    <span>{tAboutMe["section.title"]}</span>
  </h2>

  <SectionSeparator />

  <div class="text-foreground prose md:prose-lg">
    <p>
      {tAboutMe["about.summary"]}
    </p>
    <p>
      {tAboutMe["about.initiation"]}
    </p>
    <p>
      {tAboutMe["about.current-occupation"]}
    </p>
  </div>
</PortfolioSection>
