---
interface Props {
  id: string;
  class?: string;
}

const { id, class: className } = Astro.props;
---

<section
  id={id}
  class:list={[
    "mx-auto mb-24 flex scroll-m-24 flex-col justify-center md:max-w-lg lg:max-w-2xl",
    className,
  ]}
>
  <slot />
</section>
