---
interface Props {
  id: string;
  class?: string;
}

const { id, class: className } = Astro.props;
---

<section
  id={id}
  class:list={[
    "mx-auto flex flex-col justify-center py-20 last:mb-0 md:max-w-lg lg:max-w-2xl",
    className,
  ]}
>
  <slot />
</section>
