@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

/* Setup project colors */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-border: var(--border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-destructive: var(--destructive);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Custom Utilities */
  --text-2xs: 0.625rem;
  --margin-header-sm: 2.5rem;
  --margin-header: 4.5rem;
  --height-header: 3rem;
  --height-hero: calc(
    100vh - var(--height-header) - (var(--margin-header) * 2)
  );
  --shadow-glow: 0px 0px 35px -20px var(--primary);

  --color-opentowork-primary: var(--opentowork-primary);
  --color-opentowork-secondary: var(--opentowork-secondary);

  --color-github: var(--github);
  --color-github-foreground: var(--github-foreground);
  --color-linkedin: var(--linkedin);
  --color-linkedin-foreground: var(--linkedin-foreground);
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.852 0.199 91.936);
  --primary-foreground: oklch(0.421 0.095 57.708);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.852 0.199 91.936);
  --chart-1: oklch(0.905 0.182 98.111);
  --chart-2: oklch(0.795 0.184 86.047);
  --chart-3: oklch(0.681 0.162 75.834);
  --chart-4: oklch(0.554 0.135 66.442);
  --chart-5: oklch(0.476 0.114 61.907);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.681 0.162 75.834);
  --sidebar-primary-foreground: oklch(0.987 0.026 102.212);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.852 0.199 91.936);

  /* Custom Variables */
  --background-header: oklch(1 0 0 / 0.8);

  --opentowork-primary: oklch(69.508% 0.14001 90.487);
  --opentowork-secondary: oklch(0.577 0.245 27.325);

  --github: hsl(216, 28%, 7%);
  --github-foreground: hsl(210, 67%, 96%);
  --linkedin: hsl(210, 90%, 40%);
  --linkedin-foreground: hsl(211, 43%, 90%);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.795 0.184 86.047);
  --primary-foreground: oklch(0.421 0.095 57.708);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.421 0.095 57.708);
  --chart-1: oklch(0.905 0.182 98.111);
  --chart-2: oklch(0.795 0.184 86.047);
  --chart-3: oklch(0.681 0.162 75.834);
  --chart-4: oklch(0.554 0.135 66.442);
  --chart-5: oklch(0.476 0.114 61.907);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.795 0.184 86.047);
  --sidebar-primary-foreground: oklch(0.987 0.026 102.212);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.421 0.095 57.708);

  /* Custom Variables */
  --background-header: oklch(0.141 0.005 285.823 / 0.8);
  --opentowork-primary: oklch(0.852 0.199 91.936);
  --opentowork-secondary: oklch(0.577 0.245 27.325);

  --github: hsl(216, 28%, 7%);
  --github-foreground: hsl(210, 67%, 96%);
  --linkedin: hsl(210, 90%, 40%);
  --linkedin-foreground: hsl(211, 43%, 90%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  .header-scroll {
    backdrop-filter: blur(10px);
    background-color: var(--background-header);
    box-shadow: var(--shadow-glow);
    width: calc(100% - 16px);
    max-width: var(--container-lg);
    border-radius: 999px;
    padding-inline: 1.5rem;
    padding-block: 1.8rem;
  }

  html {
    scroll-behavior: smooth;
  }

  @supports (animation-timeline: scroll()) {
    .header-scroll {
      background-color: transparent;
      backdrop-filter: none;
      box-shadow: none;
      width: 100%;
      max-width: 100%;
      border-radius: 0;

      animation-timeline: scroll();
      animation-range: 150px 450px;
      animation-fill-mode: forwards;
      animation-name: header-scroll;
    }

    @keyframes header-scroll {
      to {
        backdrop-filter: blur(10px);
        background-color: var(--background-header);
        box-shadow: var(--shadow-glow);
        width: calc(100% - 16px);
        max-width: var(--container-lg);
        border-radius: 999px;
        padding-inline: 1.5rem;
        padding-block: 1.8rem;
      }
    }
  }

    @media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
    }

    html {
      scroll-behavior: auto !important;
    }
  }
}
