---
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <div class="flex flex-col items-center justify-center gap-16">
    <h1 class="text-5xl font-bold">404</h1>
    <img
      src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbjN6ejV2a2N6Yzd5dDk4cHY0aG1iYnpuNXB1d2NtZzAzMjQ3bTI2ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/UKF08uKqWch0Y/giphy.gif"
      class="mx-auto h-96 w-96 rounded-lg"
    />
  </div>
</Layout>
