---
import { getI18n } from "@/i18n";
import type { HeaderDTO } from "@/i18n/data/header";
import { getLangFromUrl, getPathWithoutLang } from "@/i18n/utils";
import { LanguagePicker } from "./language-picker";
import Navmenu from "./nav-menu.astro";
import { ThemeToggle } from "./theme-toggle";

const lang = getLangFromUrl(Astro.url);
const t = getI18n("headerData", lang) as HeaderDTO;

const currentUrl = getPathWithoutLang(Astro.url);
---

<header
  class="header-scroll h-header my-header-sm lg:my-header sticky top-6 z-10 mx-auto flex items-center justify-between supports-animation-timeline:px-4 md:supports-animation-timeline:px-24"
>
  <Navmenu class="mx-auto" />

  <!-- Button group -->
  <div class="flex items-center gap-2">
    <LanguagePicker
      client:load
      currentLanguage={lang}
      currentUrl={currentUrl}
      label={t["button.language-picker"]}
    />

    <ThemeToggle tooltip={t["button.theme-toggle"]} client:load />
  </div>
</header>

<style>
  .header-scroll {
    backdrop-filter: blur(10px);
    background-color: var(--background-header);
    box-shadow: var(--shadow-glow);
    width: calc(100% - 16px);
    max-width: var(--container-lg);
    border-radius: 999px;
    padding-inline: 1.5rem;
    padding-block: 1.8rem;
  }

  @supports (animation-timeline: scroll()) {
    .header-scroll {
      background-color: transparent;
      backdrop-filter: none;
      box-shadow: none;
      width: 100%;
      max-width: 100%;
      border-radius: 0;

      animation-timeline: scroll();
      animation-range: 150px 450px;
      animation-fill-mode: forwards;
      animation-name: header-scroll;
    }

    @keyframes header-scroll {
      to {
        backdrop-filter: blur(10px);
        background-color: var(--background-header);
        box-shadow: var(--shadow-glow);
        width: calc(100% - 16px);
        max-width: var(--container-lg);
        border-radius: 999px;
        padding-inline: 1.5rem;
        padding-block: 1.8rem;
      }
    }
  }
</style>
