---
import type { AcceptedLanguage } from "@/i18n";
import type {
  ExternalLinkSource,
  PersonalProjectDTO,
  TechnologiesDTO,
} from "@/i18n/data/projects";
import { ExternalSourceButton } from "./external-source-button";
import { TechnologiesMore } from "./technologies-more";
import { TechnologyBadge } from "./technology-badge";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "./ui/card";

interface Props {
  project: PersonalProjectDTO;
  language: AcceptedLanguage;
}

const MAX_TECH_BADGES_DISPLAYED = 3;

const { project, language } = Astro.props;
---

<Card>
  <CardHeader>
    <CardTitle>
      <h3 class="text-2xl font-semibold">{project.name}</h3>
    </CardTitle>
    <CardDescription>
      <div class="flex flex-wrap gap-2">
        {
          project.technologies
            .slice(0, MAX_TECH_BADGES_DISPLAYED)
            .map((tech) => (
              <TechnologyBadge technology={tech as TechnologiesDTO} />
            ))
        }
        <TechnologiesMore
          client:load
          projectId={project.id}
          technologies={project.technologies.slice(
            MAX_TECH_BADGES_DISPLAYED
          ) as TechnologiesDTO[]}
        />
      </div>
    </CardDescription>
  </CardHeader>
  <CardContent>
    <p class="text-foreground prose md:prose-lg">
      {project.description[language]}
    </p>
  </CardContent>
  <CardFooter className="flex gap-2">
    {
      Object.entries(project.externalLinks).map(([source, url]) => (
        <ExternalSourceButton source={source as ExternalLinkSource} url={url} />
      ))
    }
  </CardFooter>
</Card>
